<h2>Search hotels and see their details</h2>
<form class="form-inline" id="serachHotelForm" action="<%=url%>" method="get">
  <div class="form-group">
    <label for="country">Country:</label>
    <input type="text" class="form-control" id="hotel_country" name="hotel[country]" placeholder="Enter Country">
  </div>
  <div class="form-group">
    <label for="state">State:</label>
    <input type="text" class="form-control" id="hotel_state" name="hotel[state]" placeholder="Enter State">
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" class="form-control" id="hotel_city" name="hotel[city]" placeholder="Enter City">
  </div>
  <button type="submit" class="btn btn-default" id="search_hotels">Search</button>
</form>